<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.aoplibrary">

    <application>
        <activity
            android:name=".internal.permission.RealRequestPermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>